body {
  --nav_height: 60px;
  --nav_button_height: 35px;
  --nav_button_width: 100px;
  --nav_button_padding: calc(var(--nav_button_height) - 26%);
  --nav_padding: calc((var(--nav_height) - var(--nav_button_height)) / 2 );

  background-color: blue; /*TODO*/
  margin: 0;
  text-align: center;
}

ul {
  background-color: magenta; /*TODO*/
  height: var(--nav_button_height);
  list-style-type: none;
  margin: var(--nav_padding) 0 var(--nav_padding) 5px;
  overflow: hidden;
  padding: 0;
  width: calc(var(--nav_button_width) * 3);
}

li {
  float: left;
  height: var(--nav_button_height);
  width: var(--nav_button_width);
}

li a {
  color: white;
  display: block;
  height: var(--nav_button_height);
  padding-top: var(--nav_button_padding);
  text-decoration: none;
}

li a:hover {
  background-color: cyan; /*TODO*/
  height: var(--nav_button_height);
}

#nav {
  background-color: black; /*TODO*/
  height: var(--nav_height);
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

#main {
  background-color: gray; /*TODO*/
  margin: auto;
  width: 80%;
}

.spacer {
  height: var(--nav_height);
  width: 100%;
}

#about_section {
  height: 1200px;
}

#about_desc {
  float: left;
  margin: 50px 0 0 50px;
  width: 50%;
}

#picture {
  background-color: purple;
  float: right;
  height: 400px;
  margin-right: 25px;
  width: 300px;
}

#portfolio_section {
  height: 1200px;
}

#contact_section {
  height: 1200px;
}
