html body {
  background-color: blue; /*TODO*/
  /*margin: 0;*/
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


#main {
  background-color: gray; /*TODO*/
  margin: auto;
  width: 80%;
  /*padding-top: 60px;*/
}

.spacer {
  height: 60px;
  width: 100%;
}

#about {
  height: 1200px;
  background-color: cyan;
}

#about_desc {
  float: left;
  margin: 50px 0 0 50px;
  width: 50%;
}

#picture {
  background-color: purple;
  float: right;
  height: 400px;
  margin-right: 25px;
  width: 300px;
}

#portfolio {
  height: 1200px;
  background-color: magenta;
}

#contact {
  height: 1200px;
  background-color: orange;
}
